body{
  background-color: #0c0c0c;
  display:flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
 
  
  align-items: center;
  justify-content: space-between;
  color:#e6e6e6;
}

.headings {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size:2rem;
 
  
}

.brush-selection {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.paint {
  height: 250px;
  display: flex;
  flex-direction: column;
}

.palette {
  display: flex;
  margin-left: -30px;
}

.brush {
  display: flex;
  

}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
.container{
  display:flex;
  justify-content: center;
  border-style: solid;
  border-color:black;
  box-shadow: 0 0 10em rgba(3, 241, 241, 0.534);
  
}
.canvas {
  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-template-columns: repeat(90, 1fr);
  height: 70vh;
  width: 90vw;
  background-color: grey;
  
}

.square {
  transition: 0.5s;
}

.color-1 {
  background-color:lightblue;
}

.color-2 {
  background-color: orange;
}

.color-3 {
  background-color:lightgreen;
}

.color-4 {
  background-color:YELLOW;
}

.color-5 {
background-color:grey;
}
.color-6 {
  background-color:fuchsia;
}

.color-7 {
  background-color:red;
}

.color-8 {
  background-color:wheat;
}

.color-9 {
  background-color:aqua;
}

.color-10 {
background-color:lightsalmon;
}
.color-11 {
  background-color:greenyellow;
}

.color-12 {
  background-color:firebrick;
}

.color-13 {
  background-color:blueviolet;
}

.color-14 {
  background-color:green;
}

.color-15 {
background-color:rosybrown;
}
.color-16 {
  background-color:white;
}

.color-17 {
  background-color:purple;
}

.color-18 {
  background-color:blue;
}

.color-19 {
  background-color:pink;
}

.color-20{
background-color:black;
}
